@use "../variables.scss";
@use "../mixins.scss";

.edit {
    width: 100%;
    height: 100%;

    &__form {
        margin-top: 32px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        &--required {
            margin-right: 40px;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;


        }
    }

    &__actions {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__button {
      @include mixins.submit;
      border-radius: 30px;
      margin-right: 20px;
      padding: 7px 14px;
      font-size: 16px;
  }

    &__label {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      margin-bottom: 15px;
    }

    &__input {
      margin-top: 5px;
    }

    &__select {
      margin-top: 5px;
    }

    &__textarea {
      margin-top: 5px;
      max-width: 400px;
      max-height: 300px;
    }
}


