@use "../variables.scss";
@use "../mixins.scss";



.login {
  :nth-child(2) {
    margin-left: 18px;
}

&__link {
    color: rgb(42, 10, 94);
    margin-top: 10px;
    text-align: center;


  &:hover {
      color: white;
  }
}
    &__wrapper {
        margin-left: 10vw;

    }
    &__form {

        display: flex;
        flex-direction: column;
    }

      &__input {
            padding: 10px;
            width: 220px;
            border: none;
            margin-bottom: 15px;
            height: 30px;
            border-radius: 10px;

            &--error {
              border: 1px solid red;
              background-color: pink;
            }
        }

      &__submit {
        @include mixins.submit;
      }


    }




