@use "../variables.scss";

.welcome {
    height: 100vh;
    background-color: variables.$accent;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(6, 194, 231) 0%, rgba(54,118,232,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        margin-left: 10vw;
        margin-right: 2vw;
      }

    &__description {
          margin-bottom: 8px;
          color: white;
          font-size: 16px;
          max-width: 30vw;
        }

    &__img {
        margin-left: auto;
        height: 100vh;
        img {
        height: 100%;
        }
    }

}

.login {

  :nth-child(2) {
      margin-left: 18px;
  }

  &__link {
      color: rgb(42, 10, 94);
      margin-top: 10px;
      text-align: center;


    &:hover {
        color: white;
    }
}
}

.logo {

  &__img {
    height: 25px;
    margin-bottom: 10px;
  }
}
